.hero.has-background {
    position: relative;
    overflow: hidden;
    background-color: #000;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.8;
  }
  
  .image-text {
    flex: 1;
    padding: 20px;
  }
  
  .image-text img {
    width: 100%;
  }
  
  .text-image {
    flex: 1;
    padding: 20px;
  }
  
  .text-image h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-image p {
    margin-bottom: 20px;
  }
  
  .text-image a {
    display: inline-block;
    padding: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
  }
  

  /* Image */
  img.optimized-image-size{
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  .car-card-image{
    width: 100%;
    height: auto;
    max-width: 420;
  }