body {
  margin: 0;
  font-family: "AudiTypeVF" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "AudiTypeVF";
  src: local("AudiTypeVF"),
  url("/fonts/AudiTypeVF.woff2") format("woff2"),
  url("/fonts/AudiTypeVF.ttf") format("truetype");
  }
